@mixin input {
  font-family: 'Inter', sans-serif;
  font-weight: $fw-regular;
  font-size: $fs-xs;
  line-height: 21px;
  color: $black;
  border: 1px solid $grey-300;
  border-radius: 8px;
  caret-color: $blue-500;

  @media (max-width: 370px) {
    font-size: 12px;
  }

  &::placeholder {
    color: $grey-500;
  }

  &:hover {
    border-color: $blue-500;
  }

  &:focus {
    border-color: $blue-500;
  }
}
