@import '@/styles/constants.scss';

.search-page {
  display: flex;
  justify-content: start;
  gap: 28px;
  padding-bottom: 44px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}
