@import '@/styles/constants.scss';

.search-page {
  display: flex;
  justify-content: start;
  gap: 28px;
  padding-left: 11.25%;
  padding-right: 11.25%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
