@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@600&family=Poppins:wght@600&display=swap');
@import '@/styles/constants.scss';

:root {
  height: 100vh;
}

body {
  min-width: 320px;
  height: 100vh;
  background-color: $background;
  @include inter;
  font-style: normal;
  color: $black;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: inherit;
}

main {
  flex: 1 1 auto;
  padding: 40px 23% 44px;
}
